<% layout("/layouts/boilerplate") -%>
<body>
    <h1>All listings</h1>
    <form method="GET" action="/listings/new">
        
    </form>
    <ul>
        <% for (let listing of alllist) { %>
            <li>
                <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
            </li>
        <% } %>
    </ul>
</body>



