<% layout("/layouts/boilerplate") -%>

<body>
  
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4 mt-3">
        <% for (let listing of allList) { %>
            <div class="col">
                <a href="/listings/<%= listing._id %>" class="listing-link text-decoration-none">
                    <div class="card h-100 listing-card">
                        <img class="card-img-top" src="<%= listing.image.url %>" alt="Listing Image" style="height: 20rem; object-fit: cover;">
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b><br>
                                <%= listing.price.toLocaleString("en-IN") %>/night
                                <i class="gst-text d-none"> + 18% GST</i>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>

    

</body>



