<% layout("/layouts/boilerplate") -%>
<body>
    <div class="col-8 offset-2">
    <h1>Create a New Listing </h1>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div>
        <label for="title" class="form-label">Tittle</label>
        <input name="listing[title]" 
        placeholder="enter title"
        type="text"
        class="form-control"
        required
        >
        <br>
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">enter Title</div>
    </div>
        
        
    <div>
        <label for="Description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required></textarea>

        <div class="invalid-feedback">enter description</div>
    </div>
    

        <div>
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" 
            placeholder="enter price"
            type="number"
            class="form-control" required>
            
            <div class="invalid-feedback">enter valid price</div>
        
        </div>

        

        <div>
            <label for="image" class="form-label">Upload image </label>
            <input name="image" 
            type="file"
            class="form-control" required>
            
        </div>

        <div>
            <label for="location" class="form-label">location </label>
            <input name="listing[location]" 
            placeholder="enter location"
            class="form-control" required>
            <div class="invalid-feedback">enter  location</div>
        </div>
        
        <div>
            <label for="country" class="form-label">country </label>
            <input name="listing[country]" 
            placeholder="enter country"
            type="text"
            class="form-control" required>

            <div class="invalid-feedback">enter country</div>
        </div>
        
       
<br>
        <button class="btn btn-dark add-btn" >Add</button>
        <br>
        <br>
    </form>
</div>
    

</body>

