<% layout("/layouts/boilerplate") -%>
<body>
    <h1>Create a New Listing </h1>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="enter titile">
        <br>
        <br>
        <textarea name="listing[description]" placeholder="enter desc"></textarea>
        <br>
        <br>
        <input name="listing[price]" placeholder="enter price">
        <br>
        <br>
        <input name="listing[image]" placeholder="enter url" type="text">
        <br>
        <br>
        <input name="listing[location]" placeholder="enter location">
        <br>
        <br>
        <input name="listing[country]" placeholder="enter country">
        <br>
        <br>

        <button>add</button>
    </form>
    
</body>
