<% layout("/layouts/boilerplate") -%>

<div class="row mt-3 signup-page">
    <h1 class="col-6 offset-3 text-center signup-title">Signup on Wanderlust</h1>
    <div class="col-6 offset-3 signup-container">
        <form action="/signup" method="POST" class="needs-validation p-4 shadow rounded bg-white signup-form" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" 
                id="username"
                type="text"
                class="form-control signup-input"
                required>
                <div class="valid-feedback">Looks Interesting</div>
                <div class="invalid-feedback">Enter Username</div>
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" 
                id="email"
                type="email"
                class="form-control signup-input"
                required>
                <div class="valid-feedback">Valid Email</div>
                <div class="invalid-feedback">Enter a valid email address</div>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" 
                id="password"
                type="password"
                class="form-control signup-input"
                required>
                <div class="valid-feedback">Strong Password</div>
                <div class="invalid-feedback">Enter a valid password</div>
            </div>

            <button class="btn btn-success w-100 signup-button">Sign Up</button>
        </form>
    </div>
</div>
